.pages{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(35,0,0,1) 100%);
}

.main{
    display: flex;
    height: 100vh;
}

.side-bar{
    background-color: #171717;
    height: 100%;
    padding: 20px;
    flex-grow: 1;
}

.pages{
    flex-grow: 17;
}