.pages{
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
}

.side-bar{
    background-color: #171717;
    height: 100%;
    width: 20%;
    position: fixed;
}

.pages{
    position: absolute;
    height: 100vh;
    right: 0;
    width: 80%;
}