/* .side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    row-gap: 10px;
    height: 100%;
    background-color: aqua;
    position: fixed;
} */

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    height: 100%;
    row-gap: 10px;
}